<header fxLayout="row wrap" fxLayout.xs="column">
  <h3 fxFlex="10%" fxLayoutAlign="center center" >Hotel</h3>
  <ul fxFlex="auto" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="stretch center">
    <li routerLinkActive="active-link"><a routerLink="room-booking" id="room-bookings">Room Booking</a></li>
    <li routerLinkActive="active-link"><a routerLink="my-bookings" id="my-bookings">My Bookings</a></li>
  </ul>
  <ul fxLayout="row" fxLayoutAlign="stretch center" fxLayout.xs="column">
    <li><a>Contact us</a></li>
    <li><a>About</a></li>
  </ul>
</header>   

<router-outlet></router-outlet>