<div id="myModal" class="modal" #modal role="dialog" aria-labelledby="myModal">
    <div class="modal-content" fxLayout="column" *ngIf="isGuest === 'true';else payment">
        <div class="guest-title" fxLayout="row" fxLayoutAlign="space-between center">
            <p>Add guest</p>
            <button (click)="closeDialog()">x</button>
        </div>
        <form [formGroup]="addGuestForm" fxLayout="row wrap" fxFlex="100%">
            <div class="form-control" fxFlex="50%">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" placeholder="Firstname" formControlName="firstName" id="firstname" />
                <ng-container *ngIf="addGuestForm?.controls?.firstName?.touched">
                    <span class="control-error" role="alert" aria-describedby="firstname" tabindex="0" *ngIf="addGuestForm?.controls?.firstName?.errors?.required">Firstname is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="lastname">Last name</label>
                <input type="text" name="lastname" placeholder="Lastname" formControlName="lastName" id="lastname"/>
                <ng-container *ngIf="addGuestForm?.controls?.lastName?.touched">
                    <span class="control-error" role="alert" aria-describedby="lastname" tabindex="0" *ngIf="addGuestForm?.controls?.lastName?.errors?.required">Lastname is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="100%">.
                <fieldset>
                    <legend>Gender</legend>
                    <div>
                        <input id="male" name="gender" type="radio" value="male" formControlName="gender">
                        <label for="male">Male</label>
                        <input id="female" name="gender" type="radio" value="female" formControlName="gender">
                        <label for="female">Female</label><br/>
                        <ng-container *ngIf="addGuestForm?.controls?.gender?.touched">
                            <span class="control-error" role="alert" aria-labelledby="gender" tabindex="0" *ngIf="addGuestForm?.controls?.gender?.errors?.required">Gender is
                                required</span>
                        </ng-container>
                    </div>
                </fieldset>
               
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="Phone" formControlName="phone" id="phone" (keypress)="onlyNumbers($event)"/>
                <ng-container *ngIf="addGuestForm?.controls?.phone?.touched">
                    <span class="control-error" role="alert" aria-describedby="phone" tabindex="0" *ngIf="addGuestForm?.controls?.phone?.errors?.required">Phone number is
                        required</span>
                    <span class="control-error" role="alert" aria-describedby="phone" tabindex="0" *ngIf="addGuestForm?.controls?.phone?.errors?.minlength">Phone number must have atleast 10 digits
                    </span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Email" formControlName="email" id="email"/>
                <ng-container *ngIf="addGuestForm?.controls?.email?.touched">
                    <span class="control-error" role="alert" aria-describedby="email" tabindex="0" *ngIf="addGuestForm?.controls?.email?.errors?.required">Email is
                        required</span>
                        <span class="control-error" role="alert" aria-describedby="email" tabindex="0" *ngIf="addGuestForm?.controls?.email?.errors?.email">Email is invalid
                        </span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="address">Address</label>
                <textarea name="address" placeholder="Address" formControlName="address"  id="address"></textarea>
                <ng-container *ngIf="addGuestForm?.controls?.address?.touched">
                    <span class="control-error" role="alert" aria-describedby="address" tabindex="0" *ngIf="addGuestForm?.controls?.address?.errors?.required">Address is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="age">Age</label>
                <input type="text" name="age" placeholder="Age" formControlName="age"  id="age" (keypress)="onlyNumbers($event)" />
                <ng-container *ngIf="addGuestForm?.controls?.age?.touched">
                    <span class="control-error" role="alert" aria-describedby="age" tabindex="0" *ngIf="addGuestForm?.controls?.age?.errors?.required">Age is
                        required</span>
                </ng-container>
            </div>
            <div class="form-actions" fxFlex="100%">
                <button class="btn" (click)="submitGuestData()" [disabled]="addGuestForm.invalid">Submit</button>
                <button class="btn">Cancel</button>
            </div>
        </form>
    </div>
    <ng-template #payment>
        <div class="modal-content" fxLayout="column">
            <div class="guest-title" fxLayout="row" fxLayoutAlign="space-between center">
                <p>Booking Confirmation</p>
                <button (click)="closeDialog()">x</button>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h5>Our reception will approve your reservation in few days</h5>
                <div class="form-control" fxFlex="50%">
                    <!-- <input type="checkbox" name="confirm"  id="confirm" #confirm value="confirm"/> -->
                    <input type="checkbox" name="confirm"  id="confirm" [(ngModel)]="confirmValue" value="confirm">
                    <label for="confirm">  I understand that reservation will be approved by hotel reception</label>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn" (click)="goToMyBookings()" [disabled]="!confirmValue">Ok</button>
                <button class="btn" (click)="closeDialog()">Cancel</button>
            </div>
        </div>
     </ng-template>
</div>