<div fxLayout="row" fxLayoutAlign="center center" class="my-bookings">
    <ng-container *ngIf="bookingJson.checkin;else guests">
        <div class="guests" fxFlex="80%"  role="list">
            <p tabindex="0" role="listitem">{{bookingJson.guests[0]?.firstName}} {{bookingJson.guests[0]?.lastName}}</p>
            <p tabindex="0" role="listitem" *ngIf="bookingJson.guests.length">{{bookingJson.guests.length}} guests</p>
            <p tabindex="0" role="listitem"><span id="roomId">Room </span>{{bookingJson?.roomType}}</p>
            <p tabindex="0" role="listitem"><span id="checkin"  aria-labelledby="checkin" >CheckIn {{bookingJson?.checkin}}</span></p>
            <p tabindex="0" role="listitem"><span id="checkout" aria-labelledby="checkout">CheckOut {{bookingJson?.checkout}}</span></p>
        </div>
    </ng-container>
    <ng-template #guests>
        <div class="empty-data" fxFlex="80%">
           Currently no bookings
        </div>
    </ng-template>
</div>