<div class="tabs" fxLayout="row wrap">
    <div role="tablist" aria-label="options" (keyup)="handleKeyUp($event)"
        fxLayout="row" fxFlex="auto">
        <bookings-tab-trigger triggerId="trigger-a" panelId="panel-a" [isActive]="activated === 0"
            (click)="activatePanel(0)" fxFlex="auto" [isPanelDisabled]="false">
           Your Stay
        </bookings-tab-trigger>
        <bookings-tab-trigger triggerId="trigger-b" panelId="panel-b" [isActive]="activated === 1"
            (click)="activatePanel(1)" fxFlex="auto" [isPanelDisabled]="roomBookingForm?.invalid || false">
          Guests
        </bookings-tab-trigger>
        <bookings-tab-trigger triggerId="trigger-c" panelId="panel-c" [isActive]="activated === 2"
            (click)="activatePanel(2)" fxFlex="auto" [isPanelDisabled]="!bookingJson?.guests?.length">
            Payment
        </bookings-tab-trigger>
    </div>

    <bookings-tab-panel *ngIf="activated === 0" panelId="panel-a" triggerId="trigger-a" fxFlex="100%">
        <form [formGroup]="roomBookingForm" fxLayout="row wrap" fxFlex="100%" novalidate>
            <div class="form-control" fxFlex="50%">
                <label for="checkin">Check In</label>
                <input type="date" name="checkin" placeholder="Check In" formControlName="checkin" id="checkin"/>
                <ng-container *ngIf="roomBookingForm?.controls?.checkin?.touched">
                    <span class="control-error" role="alert" aria-describedby="checkin"
                    tabindex="0" *ngIf="roomBookingForm?.controls?.checkin?.invalid"
                     >Check in is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="checkout">Check Out</label>
                <input type="date" name="checkout" placeholder="Check Out" formControlName="checkout" id="checkout" />
                <ng-container *ngIf="roomBookingForm?.controls?.checkout?.touched">
                    <span class="control-error" role="alert" aria-describedby="checkout"
                    tabindex="0" *ngIf="roomBookingForm?.controls?.checkout?.errors?.required">Checkout
                         is
                        required</span>
                        <span class="control-error" role="alert" aria-describedby="checkout"
                        tabindex="0"  *ngIf="roomBookingForm?.errors?.datesInvalid">Check out date must be greater than check in date</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="roomtype">Room type</label>
                <select name="roomtype" id="roomtype" formControlName="roomType">
                    <option value="">Select room type</option>
                    <option value="Single">Single</option>
                    <option value="Double">Double</option>
                </select>
                <ng-container *ngIf="roomBookingForm?.controls?.roomType?.touched">
                    <span class="control-error" role="alert" aria-describedby="roomtype"
                    tabindex="0" *ngIf="roomBookingForm?.controls?.roomType?.errors?.required">Room type
                        is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="noofpersons">Number of persons</label>
                <input type="text" id="noofpersons" name="noofpersons" placeholder="Number of persons"
                    formControlName="numOfPersons" (keypress)="onlyNumbers($event)" />
                <ng-container *ngIf="roomBookingForm?.controls?.numOfPersons?.touched">
                    <span class="control-error"  role="alert" aria-describedby="noofpersons"
                    tabindex="0" *ngIf="roomBookingForm?.controls?.numOfPersons?.errors?.required">No of
                        persons is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="100%">
                <fieldset>
                    <legend>Food service</legend>
                    <div formGroupName="foodService">
                        <ng-container *ngFor="let foodSrvc of foodServices">
                            <input id="{{foodSrvc}}" name="{{foodSrvc}}" type="checkbox"
                            value="{{foodSrvc}}" class="checkbox" [formControlName]="foodSrvc">
                        <label for="{{foodSrvc}}">{{foodSrvc | titlecase}}</label>
                        </ng-container>
                        </div>
                </fieldset>
                <ng-container *ngIf="roomBookingForm?.get('foodService')?.touched">
                    <span class="control-error" role="alert" aria-describedby="foodService"
                    tabindex="0" *ngIf="!foodServicesSelection">Food
                        service is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="100%">
                <fieldset>
                    <legend>Pickup</legend>
                    <div>
                        <input id="yes" name="pickup" type="radio" value="yes" formControlName="pickup">
                        <label for="yes">Yes,sure</label>
                        <input id="no" name="pickup" type="radio" value="no" formControlName="pickup">
                        <label for="no">No, I already rented a car</label>
                    </div>
                </fieldset>
                <ng-container *ngIf="roomBookingForm?.controls?.pickup?.touched">
                    <span class="control-error"  role="alert" aria-describedby="yes"
                    tabindex="0" *ngIf="roomBookingForm?.controls?.pickup?.errors?.required">Pickup
                         is
                        required</span>
                </ng-container>
            </div>
            <div class="form-actions" fxFlex="100%">
                <button class="btn" (click)="onNextClick('stay')" [disabled]="roomBookingForm.invalid">Next</button>
            </div>
            <!-- <pre>{{roomBookingForm.value | json}}</pre> -->
        </form>
    </bookings-tab-panel>
    <bookings-tab-panel *ngIf="activated === 1" panelId="panel-b" triggerId="trigger-b" fxFlex="100%">
        <div fxLayout="row wrap" fxLayoutAlign="center">
            <ng-container *ngIf="bookingJson?.guests?.length;else guests">
                <div class="guests" fxFlex="80%" *ngFor="let guest of bookingJson?.guests">
                    <p>{{guest.firstName}} {{guest.lastName}}</p>
                    <p><span>Age: {{guest.age}}</span><span> | </span><span>Gender:{{guest.gender}}</span></p>
                    <p><span>Address</span><span> {{guest.address}}</span></p>
                </div>
            </ng-container>
            <ng-template #guests>
                <div class="empty-data" fxFlex="80%">
                    Add guests to proceed
                </div>
            </ng-template>
            <ul fxFlex="100%" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="16px grid">
                <li><button class="btn" (click)="activatePanel(0)">Back</button></li>
                <li><button  class="btn" (click)="dialog.openDialog()">Add Guest</button></li>
                <li><button class="btn" (click)="activatePanel(2)" [disabled]="!bookingJson?.guests?.length">Next</button></li>
            </ul>
        </div>
        <bookings-dialog #dialog (recieveDialogData)="recieveDialogData($event)" isGuest="true"></bookings-dialog>
    </bookings-tab-panel>
    <bookings-tab-panel *ngIf="activated === 2" panelId="panel-c" triggerId="trigger-c" fxFlex="100%">
        <form [formGroup]="paymentForm" fxLayout="row wrap" fxFlex="100%">
            <div class="form-control" fxFlex="100%">
                <fieldset>
                    <legend>Choose payment</legend>
                    <div>
                        <input id="cc" name="paymentType" type="radio" value="cc" formControlName="paymentType" (change)="onPaymentChange($event)">
                        <label for="cc">Credit card</label>
                        <input id="upi" name="paymentType" type="radio" value="upi" formControlName="paymentType" (change)="onPaymentChange($event)">
                        <label for="upi">UPI Payment</label>
                    </div>
                </fieldset>
            </div>
        <ng-container *ngIf="paymentForm?.controls?.paymentType?.value === 'cc'">
            <div class="form-control" fxFlex="50%">
                <label for="cardholdername">Card holder name</label>
                <input type="text" name="cardholdername" placeholder="Card holder name" formControlName="cardholdername"
                    id="cardholdername" />
                <ng-container *ngIf="paymentForm?.controls?.cardholdername?.touched">
                    <span class="control-error" role="alert" aria-describedby="cardholdername"
                    tabindex="0" *ngIf="paymentForm?.controls?.cardholdername?.errors?.required">Card holder name is
                        required</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="cardNumber">Card number</label>
                <input type="text" name="cardNumber" placeholder="0000-0000-0000-0000" formControlName="cardNumber" (keypress)="onlyNumbers($event)" 
                    id="cardNumber" />
                <ng-container *ngIf="paymentForm?.controls?.cardNumber?.touched">
                    <span class="control-error" role="alert" aria-describedby="cardNumber"
                    tabindex="0" *ngIf="paymentForm?.controls?.cardNumber?.errors?.required">Cardnumber
                        is
                        required</span>
                        <span class="control-error" role="alert" aria-describedby="cardNumber"
                        tabindex="0" *ngIf="paymentForm?.controls?.cardNumber?.errors?.minlength || paymentForm?.controls?.cardNumber?.errors?.maxlength">Cardnumber
                            must have 16 digits</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="expirationDate">Expiration date</label>
                <input type="text" name="expirationDate" placeholder="MM/YY" formControlName="expirationDate"
                    id="expirationDate" />
                <ng-container *ngIf="paymentForm?.controls?.expirationDate?.touched">
                    <span class="control-error" role="alert" aria-describedby="expirationDate"
                    tabindex="0" *ngIf="paymentForm?.controls?.expirationDate?.errors?.required">Expiry date
                         is
                        required</span>
                        <span class="control-error" role="alert" aria-describedby="expirationDate"
                        tabindex="0" *ngIf="paymentForm?.controls?.expirationDate?.errors?.pattern">Expiry date
                            is
                           invalid</span>
                </ng-container>
            </div>
            <div class="form-control" fxFlex="50%">
                <label for="cvv">CVV</label>
                <input type="text" name="cvv" placeholder="000" formControlName="cvv" id="cvv" (keypress)="onlyNumbers($event)" />
                <ng-container *ngIf="paymentForm?.controls?.cvv?.touched">
                    <span class="control-error" role="alert" aria-describedby="cvv"
                    tabindex="0" *ngIf="paymentForm?.controls?.cvv?.errors?.required">Cvv is
                        required</span>
                        <span class="control-error" role="alert" aria-describedby="cvv"
                        tabindex="0" *ngIf="paymentForm?.controls?.cvv?.errors?.minlength || paymentForm?.controls?.cvv?.errors?.maxlength">Cvv
                            must have 3 digits</span>
                </ng-container>
            </div>
        </ng-container>
            <ng-container *ngIf="paymentForm?.controls?.paymentType?.value === 'upi'">
                <div class="form-control" fxFlex="50%">
                    <label for="upiNumber">Enter UPI number</label>
                    <input type="text" name="upiNumber" placeholder="898989@bank.io" formControlName="upiNumber"
                        id="upiNumber" />
                    <ng-container *ngIf="paymentForm?.controls?.upiNumber?.touched">
                        <span class="control-error" role="alert" aria-describedby="cvv"
                        tabindex="0" *ngIf="paymentForm?.controls?.upiNumber?.errors?.required">UPI Number is
                            required</span>
                            <span class="control-error" role="alert" aria-describedby="cvv"
                            tabindex="0" *ngIf="paymentForm?.controls?.upiNumber?.errors?.email">UPI Number is
                                invalid</span>
                    </ng-container>
                </div>
            </ng-container>
            <div class="form-actions" fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between">
                <button class="btn" (click)="activatePanel(1)">Back</button>
                <button class="btn" (click)="paymentProceed()" [disabled]="paymentForm.invalid">Proceed</button>
            </div>
        </form>
        <bookings-dialog #dialog (recieveDialogData)="recieveDialogData($event)" isGuest="false"></bookings-dialog>
    </bookings-tab-panel>
</div>